<aside class="section createYours" itemscope itemtype="https://schema.org/Product">
  <div class="createYours__title" itemprop="name">Создай <span class="color-primary">свое!</span></div>
  <p class="createYours__text" itemprop="description">Вместе с тобой мы создадим неповторимую косметику именно для тебя! Каждая баночка на 100% индивидуальна.</p>
  <a href="#" class="button button--stroke createYours__button">Создать средство</a>
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="d-none">
    <span itemprop="priceCurrency" content="UAH"></span>
    <span itemprop="price" content="0">0</span>
    <link itemprop="availability" href="https://schema.org/InStock" />
  </div>
</aside>