<div class="preloader">
  <div class="preloader__bubbles"></div>
  <img src="img/icons/logoBig.svg" alt="#" class="preloader__logo">
</div>



<header class="page-header" itemscope itemtype="https://schema.org/WPHeader">
  <div class="container">
    <nav class="page-header__toggle menuMobileToggle--js">
      <span></span>
      <span></span>
      <span></span>
    </nav>
    <a href="#" class="page-header__logo">
      <img src="img/icons/logo-header.svg" alt="#" class="page-header__logo-img">
    </a>
    <nav class="page-header__menu" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <ul class="page-header__menu-list">
        <li itemprop="name" class="page-header__menu-list-el">
          <a itemprop="url" class="page-header__menu-el" href="#">Конструктор</a>
        </li>
        <li itemprop="name" class="page-header__menu-list-el">
          <a itemprop="url" class="page-header__menu-el" href="#">Каталог</a>
        </li>
        <li itemprop="name" class="page-header__menu-list-el">
          <a itemprop="url" class="page-header__menu-el" href="#">Компоненты</a>
        </li>
        <li itemprop="name" class="page-header__menu-list-el">
          <a itemprop="url" class="page-header__menu-el" href="#">О нас</a>
        </li>
        <li itemprop="name" class="page-header__menu-list-el">
          <a itemprop="url" class="page-header__menu-el color-primary" href="#">MM Club</a>
        </li>
        <li itemprop="name" class="page-header__menu-list-el">  
          <a itemprop="url" class="page-header__menu-el" href="#">Акции</a>
        </li>
      </ul>
    </nav>
    <nav class="page-header__buttons">
      <a href="#" class="page-header__buttons-el page-header__buttons-el--user"></a>
      <a href="#" class="page-header__buttons-el page-header__buttons-el--likes"></a>
      <a href="#" class="page-header__buttons-el page-header__buttons-el--basket">
        <span class="basket-quantity">5</span>
      </a>
    </nav>
  </div>
</header>


<div class="menuMobile">
  <div class="menuMobile__header">
    <a href="#" class="menuMobile__logo"><img src="img/icons/logo-header.svg" alt="#"></a>
    <span class="menuMobile__toggle menuMobileToggle--js"></span>
  </div>
  <nav class="menuMobile__body" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <div class="menuMobile__menu">
      <ul class="menuMobile__menu-list">
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Конструктор</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Каталог</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Компоненты</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">О нас</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el color-primary">MM Club</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Акции</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Доставка и оплата</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Блог</a></li>
        <li itemprop="name" class="menuMobile__menu-list-el"> <a itemprop="url" href="#" class="menuMobile__menu-el">Публичная оферта</a></li>
      </ul>
    </div>
    <div class="page-footer__menu-info">
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">График работы</div>
        <div class="page-footer__menu-info-el-value">Круглосуточно</div>
      </div>
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">График работы</div>
        <div class="page-footer__menu-info-el-value">г. Киев, ул. Марко Вовчка, 18а</div>
      </div>
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">Соцсети</div>
        <nav class="page-footer__socials">
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
          </nav>
      </div>
    </div>
  </nav>
</div>