<header class="page-header">
  <div class="container">
    <nav class="page-header__toggle menuMobileToggle--js">
      <span></span>
      <span></span>
      <span></span>
    </nav>
    <a href="#" class="page-header__logo">
      <img src="img/icons/logo-header.svg" alt="#" class="page-header__logo-img">
    </a>
    <nav class="page-header__menu">
      <a class="page-header__menu-el" href="#">Конструктор</a>
      <a class="page-header__menu-el" href="#">Каталог</a>
      <a class="page-header__menu-el" href="#">Компоненты</a>
      <a class="page-header__menu-el" href="#">О нас</a>
      <a class="page-header__menu-el color-primary" href="#">MM Club</a>
      <a class="page-header__menu-el" href="#">Акции</a>
    </nav>
    <nav class="page-header__buttons">
      <a href="#" class="page-header__buttons-el page-header__buttons-el--user"></a>
      <a href="#" class="page-header__buttons-el page-header__buttons-el--likes"></a>
      <a href="#" class="page-header__buttons-el page-header__buttons-el--basket">
        <span class="basket-quantity">5</span>
      </a>
    </nav>
  </div>
</header>


<div class="menuMobile">
  <div class="menuMobile__header">
    <a href="#" class="menuMobile__logo"><img src="img/icons/logo-header.svg" alt="#"></a>
    <span class="menuMobile__toggle menuMobileToggle--js"></span>
  </div>
  <nav class="menuMobile__body">
    <div class="menuMobile__menu">
      <a href="#" class="menuMobile__menu-el">Конструктор</a>
      <a href="#" class="menuMobile__menu-el">Каталог</a>
      <a href="#" class="menuMobile__menu-el">Компоненты</a>
      <a href="#" class="menuMobile__menu-el">О нас</a>
      <a href="#" class="menuMobile__menu-el color-primary">MM Club</a>
      <a href="#" class="menuMobile__menu-el">Акции</a>
      <a href="#" class="menuMobile__menu-el">Доставка и оплата</a>
      <a href="#" class="menuMobile__menu-el">Блог</a>
      <a href="#" class="menuMobile__menu-el">Публичная оферта</a>
    </div>
    <div class="page-footer__menu-info">
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">График работы</div>
        <div class="page-footer__menu-info-el-value">Круглосуточно</div>
      </div>
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">График работы</div>
        <div class="page-footer__menu-info-el-value">г. Киев, ул. Марко Вовчка, 18а</div>
      </div>
      <div class="page-footer__menu-info-el">
        <div class="page-footer__menu-info-el-title">Соцсети</div>
        <nav class="page-footer__socials">
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="page-footer__socials-el">
              <i class="fab fa-facebook"></i>
            </a>
          </nav>
      </div>
    </div>
  </nav>
</div>